@model TutorCenter.Application.Contracts.Users.UserDto;


<h5 class="card-title">About</h5>
<p class="small fst-italic">@Model.Description</p>

<h5 class="card-title">Profile Details</h5>

<div class="row">
    <div class="col-lg-3 col-md-4 label ">Full Name</div>
    <div class="col-lg-9 col-md-8">@Model.FirstName @Model.LastName</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Company</div>
    <div class="col-lg-9 col-md-8">Educational Development And Consulting Center - CED</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Role</div>
    <div class="col-lg-9 col-md-8">@Model.Role</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Address</div>
    <div class="col-lg-9 col-md-8">USA</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Address</div>
    <div class="col-lg-9 col-md-8">@Model.Address</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Phone</div>
    <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Email</div>
    <div class="col-lg-9 col-md-8">@Model.Email</div>
</div>

