@using TutorCenter.Application.Contracts.Users.Tutors;
@model TutorForDetailDto

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-8"hidden>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8" hidden>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsEmailConfirmed)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IsEmailConfirmed)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        @* <dt class = "col-sm-4" hidden> *@
        @*     @Html.DisplayNameFor(model => model.Password) *@
        @* </dt> *@
        @* <dd class="col-sm-8" hidden> *@
        @*     @Html.DisplayFor(model => model.Password) *@
        @* </dd> *@
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AcademicLevel)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AcademicLevel)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.University)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
        <dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-8" hidden>
            
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.DeleterUserId)
        </dt>
        <dd class="col-sm-8" hidden>
            @Html.DisplayFor(model => model.DeleterUserId)
        </dd>
        <dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.DeletionTime)
        </dt>
        <dd class="col-sm-8" hidden>
            @Html.DisplayFor(model => model.DeletionTime)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.LastModificationTime)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.LastModificationTime)
        </dd>
        <dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.LastModifierUserId)
        </dt>
        <dd class="col-sm-8" hidden>
            @Html.DisplayFor(model => model.LastModifierUserId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreationTime)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class="col-sm-4" hidden>
            @Html.DisplayNameFor(model => model.CreatorUserId)
        </dt>
        <dd class = "col-sm-8" hidden>
            @Html.DisplayFor(model => model.CreatorUserId)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" asp-controller="Tutor" class="modal-footer">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

    </form>
</div>
