@model TutorCenter.Contracts.Users.Tutors.TutorForDetailDto

@{
    ViewData["Title"] = "Edit";

    List<string> roles = ViewData["Roles"] as List<string> ?? new List<string>();
    List<string> genders = ViewData["Genders"] as List<string> ?? new List<string>();
    List<string> academics = ViewData["AcademicLevels"] as List<string> ?? new List<string>();
}
<h1>Edit</h1>

<div class="alert alert-success alert-dismissible fade collapse" role="alert" id="successAlert">
    <i class="bi bi-check-circle me-1"></i>
    Update successfully!
    <button type="button" class="btn-close" data-bs-toggle="collapse" id="successAlertButton" data-bs-target="#successAlert" aria-expanded="false" aria-controls="successAlert" aria-label="Close"></button>
</div>

<h4>@Model.FirstName @Model.LastName</h4>

<hr />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Personal Information</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" asp-action="Edit" asp-controller="Tutor" onsubmit="return callPostActionWithForm(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <!-- ----------------------------------- -->

            <div class="col-md-4">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option selected>@Model.Gender.ToString()</option>

                    @foreach (string i in genders)
                    {
                        @if (i != Model.Gender.ToString())
                        {
                            <option> @i </option>
                        }
                    }
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Role" class="form-label">Role</label>
                <select asp-for="Role" class="form-select">
                    <option selected>@Model.Role.ToString()</option>

                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="BirthYear" class="form-label">Birth</label>
                <input type="number" class="form-control" asp-for="BirthYear" />

                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
            <!-- disable email when confirmed -->
            @if (Model.IsEmailConfirmed == true)
            {
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email</label>

                    <div class="input-group mb-3">

                        <input type="email" readonly asp-for="Email" class="form-control" aria-describedby="basic-addon3" />
                        <span class="input-group-text" id="basic-addon3">
                            <i class="bi bi-check">
                            </i>
                        </span>

                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            }
            else
            {
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            }

            <div class="col-md-6">
                <label asp-for="PhoneNumber" class="form-label">Number</label>
                <div class="col-sm-12">
                    <input type="number" asp-for="PhoneNumber" class="form-control" />
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>
            @* <div class="col-md-6" hidden> *@
            @*     <label asp-for="Password" class="form-label">Password</label> *@
            @*     <input type="password" asp-for="Password" class="form-control"> *@
            @* </div> *@
            <!-- ----------------------------------- -->

            <div class="col-12">
                <label asp-for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" asp-for="Address" placeholder="1234 Main St" />
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>


            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" asp-for="Description" style="height: 100px;"></textarea>
                    <label asp-for="Description" class="form-label">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
            </div>


            <!-- ----------------------------------- -->
            @if (Model.Role == TutorCenter.Domain.Shared.ClassInformationConsts.UserRole.Tutor)
            {
                <h5 class="card-title">Tutor information</h5>

                <div class="col-md-4">
                    <label asp-for="AcademicLevel" class="form-label">Academic Level</label>
                    <select asp-for="AcademicLevel" class="form-select">
                        <option selected>@Model.AcademicLevel.ToString()</option>

                        @foreach (var i in academics)
                        {
                            @if (i != Model.AcademicLevel.ToString())
                            {
                                <option> @i </option>
                            }
                        }
                    </select>
                    <span asp-validation-for="AcademicLevel" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <label asp-for="University" class="form-label">University</label>
                    <input type="text" class="form-control" asp-for="University" />
                    <span asp-validation-for="University" class="text-danger"></span>
                </div>
                <!-- ----------------------------------- -->

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" asp-for="IsVerified" />
                        <label class="form-check-label" asp-for="IsVerified">
                            Is tutor verified?
                        </label>

                    </div>
                </div>
                <div class="card" id="tutorMajorCard">
                    <div class="card-body">
                        <div class="card-title row">
                            <h5 class="col-11">Tutor Majors</h5>
                            <button type="button" class="btn btn-primary col-1" onclick="OpenGetDialog('@Url.Action("Subjects","Tutor", new {id = @Model.Id})','Add major for @Model.FirstName @Model.LastName')">
                                <span class="bi bi-plus-circle"> </span>
                                Add
                            </button>

                        </div>

                        <!-- List group with Advanced Contents -->

                        <div class="list-group">
                            @foreach (var s in Model.Majors)
                            {
                                <div class=" list-group-item list-group-item-action" id="@s.Id-item">
                                    <div class="row">
                                        <input name="SubjectId" value="@s.Id"   hidden="hidden" />
                                        <a asp-action="Detail" asp-controller="Subject" asp-route-id="@s.Id" class=" col-11">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">@s.Name</h5>
                                            </div>
                                            <p class="mb-1">@s.Description</p>
                                        </a>
                                        <button type="button"class="col-1 btn btn-danger" onclick="RemoveMajorSubject('@s.Id')">Remove</button>

                                    </div>
                                </div>

                            }


                        </div><!-- End List group Advanced Content -->


                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title row">
                            <h5 class="col-11">Tutor Verifications</h5>
                        </div>



                        <div class="row mb-3">
                            <label class="col-md-4 col-lg-3 col-form-label">Verfication Images</label>
                            <div class="col-md-8 col-lg-9">
                                <div class="row d-flex" id="filesInputValues">

                                    @foreach (var i in Model.TutorVerificationInfoDtos)
                                    {
                                        //<img src="@i.Image" style="max-width: 400px; max-height: 400px;" alt="Profile" id="avatar">
                                        //<input id="image" asp-for="@i.Image" hidden type="text" />
                                        <div style="position:relative;" id="@i.Id-verification">
                                            <button type="button" style="right:0px;    position: absolute;" class="btn btn-danger" onclick="RemoveTutorVerification('@Url.Action("RemoveTutorVerification","Tutor")','@i.Id')">
                                                <span>&times;</span>
                                            </button>
                                            <img src="@i.Image" style="max-width: 400px; max-height: 400px;" alt="Profile" id="avatar">
                                            <input id="image" asp-for="@i.Image" hidden type="text" />
                                        </div>
                                    }
                                </div>


                            </div>

                        </div>







                    </div>
                </div>
            }


            <!-- ----------------------------------- hidden info -->

            <div class="form-group" hidden>
                <label asp-for="DeleterUserId" class="control-label"></label>
                <input asp-for="DeleterUserId" class="form-control" />
                <span asp-validation-for="DeleterUserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="reset" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form><!-- End Multi Columns Form -->

    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

