@using TutorCenter.Application.Contracts.Users;
@model UserDto

@{
    ViewData["Title"] = "Create";
    List<string> roles = ViewData["Roles"] as List<string> ?? new List<string>();
    List<string> genders = ViewData["Genders"] as List<string> ?? new List<string>();
    List<string> academics = ViewData["AcademicLevels"] as List<string> ?? new List<string>();
}


<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Personal Information</h5>

        <!-- Multi Columns Form -->
        <form class="row g-3" asp-action="Create" asp-controller="User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input type="text" asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>
            <div class="col-md-6">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <!-- ----------------------------------- -->

            <div class="col-md-4">
                <label asp-for="Gender" class="form-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option selected>@Model.Gender.ToString()</option>

                    @foreach (string i in genders)
                    {
                        @if (i != Model.Gender.ToString())
                        {
                            <option> @i </option>
                        }
                    }
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Role" class="form-label">Role</label>
                <select asp-for="Role" class="form-select">
                    <option selected>@Model.Role.ToString()</option>

                    @foreach (string i in roles)
                    {
                        @if (i != Model.Role.ToString())
                        {
                            <option> @i </option>
                        }
                    }
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="BirthYear" class="form-label">Birth</label>
                <input type="number" class="form-control" asp-for="BirthYear">

                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
            <!-- disable email when confirmed -->
            @if (Model.IsEmailConfirmed == true)
            {
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email</label>

                    <div class="input-group mb-3">

                        <input type="email" readonly asp-for="Email" class="form-control" aria-describedby="basic-addon3">
                        <span class="input-group-text" id="basic-addon3">
                            <i class="bi bi-check">
                            </i>
                        </span>

                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
            }
            else
            {
                <div class="col-md-6">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input type="email" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            }

            <div class="col-md-6">
                <label asp-for="PhoneNumber" class="form-label">Number</label>
                <div class="col-sm-12">
                    <input type="number" asp-for="PhoneNumber" class="form-control">
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>
            <div class="col-md-6" hidden>
                <label asp-for="Password" class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control">
                <!--<input type="password" asp-for="Password" value="1q2w3E*" class="form-control">-->
            </div>
            <!-- ----------------------------------- -->

            <div class="col-12">
                <label asp-for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" asp-for="Address" placeholder="1234 Main St">
                <span asp-validation-for="Address" class="text-danger"></span>

            </div>
            <!-- address advanced set up----------------------------------- -->

            <!-- ----------------------------------- -->

            <div class="col-12">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Address" asp-for="Description" style="height: 100px;"></textarea>
                    <label asp-for="Description" class="form-label">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>
            </div>

            <button class=" btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Sign up as Tutor
            </button>

            



            <!-- ----------------------------------- hidden info -->

            <div class="form-group" hidden>
                <label asp-for="DeleterUserId" class="control-label"></label>
                <input asp-for="DeleterUserId" class="form-control" />
                <span asp-validation-for="DeleterUserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="DeletionTime" class="control-label"></label>
                <input asp-for="DeletionTime" class="form-control" />
                <span asp-validation-for="DeletionTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastModificationTime" class="control-label"></label>
                <input asp-for="LastModificationTime" class="form-control" />
                <span asp-validation-for="LastModificationTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastModifierUserId" class="control-label"></label>
                <input asp-for="LastModifierUserId" class="form-control" />
                <span asp-validation-for="LastModifierUserId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden >
                <label asp-for="CreationTime" class="control-label"></label>
                <input asp-for="CreationTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" class="form-control" />
                <span asp-validation-for="CreationTime" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" value="@Guid.NewGuid()" />
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" asp-action="Index" class="btn btn-secondary">Cancel</button>
            </div>
            @Html.AntiForgeryToken()
        </form><!-- End Multi Columns Form -->

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
